<%- include("header") %> 

    <div class="box" id="heading">
        <h1><%=kindOfDay%></h1>
    </div>

    <div class="box">
        <ul>
            <% for( let i = 0; i < newListItems.length; i++ ) { %>
                <div class="item">
                    <input type="checkbox">
                    <li><%= newListItems[i] %> </li>
                </div>
            <% } %> 
        </ul>
    </div>

    <div class="box">
        <form action="/" method="POST">
            <input type="text" name="newItem" placeholder="New Item" required>
            <button type="submit" name="submit">+</button>
        </form>
    </div>

<%- include("footer") %> 
